<h2>Parent View</h2>
<div class="addChore">
	<form action='admin/chore/new' method="POST">
		<div class="form-group" style="width:90%">
			<label for="name"><i class="fa fa-user fa-lg" aria-hidden="true"></i> Whats the chore?</label>
			<input id="name" class="form-control" type="text" name="name">
		</div>
		<div class="form-group">
			<label for="childId" value="0"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Which child?
			<select>
				<option value="0">Floyd</option>
				<option value="2">Ezikiel</option>
				<option value="3">Chalupa</option>
			</select>
			<label>
		</div>
		<div class="form-group">
			<label for="dueDate"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> When is it due?</label>
			<input type="date" name="dueDate">
		</div>
		<div class="form-group">
			<label for="value"><i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i> How much is it worth?</label>
			<input type="number" name="value">
		</div>
		<input class="btn btn-primary choreSubmit" type="submit" value="Add Chore">
	</form>
</div>
<div class="choreList">
	<div class="chore">
		<p><span class="col-md-4"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Rake Yard </span><span class="col-md-1">$5</span><span class="col-md-1">Floyd</span>
		<span class="choreComplete"><input type="checkbox" name="vehicle" value="Bike">Completed</span></p>
	</div>
	<div class="chore">
		<p><span class="col-md-4"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Sweep Kitchen </span><span class="col-md-1">$1</span><span class="col-md-1">Chalupa</span>
		<span class="choreComplete"><input type="checkbox" name="vehicle" value="Bike">Completed</span></p>
	</div>
	<div class="chore">
		<p><span class="col-md-4"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Eliminate Neighbor </span><span class="col-md-1">$10</span><span class="col-md-1">Floyd</span>
		<span class="choreComplete"><input type="checkbox" name="vehicle" value="Bike">Completed</span></p>
	</div>
</div>
<div class="kidList">
	Kids
	<div class=addKid>
		Add Kid
	</div>
</div>