<h2>Parent View</h2>

<div class="addChore">
	<form action='admin/chore/new' method="POST">
		<div class="form-group col-md-6 col-xs-12">
			<label for="name"><i class="fa fa-user fa-lg" aria-hidden="true"></i> Whats the chore?</label>
			<input id="name" class="formItem formText form-control" type="text" name="name">
		</div>
		<div class="col-md-5 addFeatures">
		<div class="form-group">
			<label for="childId" value="0"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Which child?
			<select class="formItem" name='childId'>
				<option></option>
				<option value="0">Floyd</option>
				<option value="2">Ezikiel</option>
				<option value="3">Chalupa</option>
			</select>
			</label>
		</div>
		<div class="form-group">
			<label for="dueDate"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> When is it due?</label>
			<input class="formItem" type="date" name="dueDate">
		</div>
		<div class="form-group">
			<label for="value"><i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i> How much is it worth?</label>
			<input class="formItem" type="number" name="value">
		</div>
		</div>
		<input class="btn btn-primary choreSubmit" type="submit" value="Add Chore">
		<input type="hidden" name="isDone" value="false">
		<input type="hidden" name="approved" value="false">
		<input type="hidden" name="userId" value="<%=user.id%>">


	</form>
</div>
<div class="toDo"><h3>Chores:</h3>
	<div class="chore">
		<span class="col-xs-5 choreName"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Rake Yard </span><span class="col-xs-3  col-xs-offset-4 choreName">2/17/17</span><span class="col-xs-4 choreName">$5</span>
		<input type="button" class="btn btn-success col-xs-3 col-xs-offset-5 " value=" Unfinished ">
	</div>
	<div class="chore">
		<span class="col-xs-5 choreName"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Dishes </span><span class="col-xs-3  col-xs-offset-4 choreName">2/17/17</span><span class="col-xs-4 choreName">$2</span>
		<input type="button" class="btn btn-success col-xs-3 col-xs-offset-5 " value=" Unfinished ">
	</div>
	<div class="chore">
		<span class="col-xs-5 choreName"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Clean Room </span><span class="col-xs-3  col-xs-offset-4 choreName">2/17/17</span><span class="col-xs-4 choreName">$4</span>
		<input type="button" class="btn btn-success col-xs-3 col-xs-offset-5 " value=" Unfinished ">
	</div>
	</div>
	<div class="done"><h3>Done:</h3>
	<div class="chore">
		<span class="col-xs-5 choreName"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Walk Dog </span><span class="col-xs-3  col-xs-offset-4 choreName">2/17/17</span><span class="col-xs-4 choreName">$5</span>
		<input type="button" class="btn btn-defautl col-xs-3 col-xs-offset-5 " value=" Approve ">
	</div>
	<div class="chore finished">
		<span class="col-xs-5 choreName"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Paint Barn </span><span class="col-xs-3  col-xs-offset-4 choreName">2/17/17</span><span class="col-xs-4 choreName">$10</span>
		<input type="button" class="btn disabled btn-primary col-xs-3 col-xs-offset-5 " value=" Done! ">
	</div>
	</div>

<div class="addChore">
	<form class="" action="admin/child/new" method="POST">
		<div class="form-group col-md-5 " >
			<label for="name"><span class="col-md-12"><i class="fa fa-user fa-lg"></i>Child's name
				<input type="text" name="name"></span>
			</label>
		</div>
		<div class="form-group col-md-5" >
			<label for="username"><span class="col-md-12"><i class="fa fa-user fa-lg"></i>Child's Username
				<input type="text" name="username"></span>
			</label>
		</div>
		<div class="form-group col-md-5" >
			<label for="password"><span class="col-md-12"><i class="fa fa-user fa-lg"></i>Child's password
				<input type="password" name="password"></span>
			</label>
		</div>
		<div class="form-group col-md-5" >
			<label for="bank"><span class="col-md-12"><i class="fa fa-user fa-lg"></i>Child's current bank
				<input type="text" name="bank"></span>
			</label>
		</div>
		<div class="form-group  col-md-5" >
			<label for="charity"><span class="col-md-6"><i class="fa fa-user fa-lg "></i>Child's charity</span>
				<span class="col-md-6"><input type="text" name="charity"></span>
			</label>
		</div>
		<input type="hidden" name="userId" value="<%=user.id%>">
		<input class="btn btn-primary childSubmit" type="submit" value="Add Child">
	</form>
</div>
