<h2 class="text-center">Chores 4 Charity</h2>
<div class="landingLogin col-md-4 col-md-offset-4">
<span class="text-center"><a href="/auth/signup"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Signup</a></span>
<span class="text-center"><a href="/auth/loginParent"><i class="fa fa-sign-in fa-lg" aria-hidden="true" ></i> Login Parent</a></span>
<span class="text-center"><a href="/auth/loginChild"><i class="fa fa-child fa-lg" aria-hidden="true" ></i> Login Child</a></span>
