<h2>Floyd</h2>
<div class="choreList">
<div class="chore" style="border:0">
		<p><span class="col-md-4">Chore</span><span class="col-md-1">Value</span><span class="col-md-1">Child</span>
		<span class="choreComplete">Completed?</span></p>
	</div>
	</div>
<div class="choreList">
	<div class="chore">
		<p><span class="col-md-4"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Rake Yard </span><span class="col-md-1">$5</span><span class="col-md-1">Floyd</span>
		<span class="choreComplete"><input type="checkbox" name="vehicle" value="Bike">Completed</span></p>
	</div>
	<div class="chore">
		<p><span class="col-md-4"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Sweep Kitchen </span><span class="col-md-1">$1</span><span class="col-md-1">Chalupa</span>
		<span class="choreComplete"><input type="checkbox" name="vehicle" value="Bike">Completed</span></p>
	</div>
	<div class="chore">
		<p><span class="col-md-4"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Eliminate Neighbor </span><span class="col-md-1">$10</span><span class="col-md-1">Floyd</span>
		<span class="choreComplete"><input type="checkbox" name="vehicle" value="Bike">Completed</span></p>
	</div>
</div>